<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <header>
            <h1><span>AGENDAMENTO</span></h1>
        </header>
        <main class="step-content">
            <div class="summary-section">
                 <div class="summary-item" th:if="${agendamento.colaborador != null}">
                    <p>BARBEIRO ESCOLHIDO:</p>
                    <div class="value">
                        <span class="icon"></span>
                          <span th:text="${agendamento.colaborador.nome}">Nome do Barbeiro</span>
                    </div>
                </div>
                <div class="summary-item">
                    <p>DIA ESCOLHIDO:</p>
                    <div class="value">
                        <span class="icon"></span> 
                        <span th:text="${#strings.capitalize(agendamento.dia.name().toLowerCase())}">Dia da Semana</span>
                    </div>
                </div>
                <div class="summary-item" th:if="${agendamento.dataHora != null}">
                    <p>DATA E HORÁRIO:</p>
                    <div class="value">
                        <span th:text="${#temporals.format(agendamento.dataHora, 'dd/MM/yyyy HH:mm')}"></span>
                    </div>
                </div>
            </div>
<body>
    <div class="container">
        <div class="options-section">
            <h2>ESCOLHA O TIPO DE CORTE:</h2>
            <div class="choice-list">
                <form th:action="@{/agendamento/passo5-tipo-corte}" method="post">
                    <button type="submit" name="corteEscolhido"
                            th:each="corte : ${tiposDeCorte}"
                            th:value="${corte.getEstilo()}"
                            th:text="${corte.getEstilo() + ' - R$ ' + corte.getPreco()}"
                            class="choice-btn">
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>