<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agendamento</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dia.css}">
</head>
<body>
    <div class="container">
        <header>
            <h1><span>AGENDAMENTO</span></h1>
        </header>

        <main class="step-content">
            <div class="summary-section">
                <div class="summary-item" th:if="${agendamento.colaborador != null}">
                    <p>BARBEIRO ESCOLHIDO:</p>
                    <div class="value">
                        <span class="icon"></span>
                        <span th:text="${agendamento.colaborador.nome}"></span>
                    </div>
                </div>
            </div>
            <div class="options-section">
                <h2>DIAS DISPONIVEIS:</h2>
                <form th:action="@{/agendamento/passo2-dia}" method="post" class="options-box day-list">
                    <button th:each="dia : ${diasDisponiveis}" 
                            th:if="${dia.name() != 'SABADO' and dia.name() != 'DOMINGO'}"
                            type="submit" 
                            name="dia" 
                            th:value="${dia.name()}" 
                            class="choice-btn"
                            th:text="${dia.name().substring(0,1) + dia.name().substring(1).toLowerCase()}">
                        Dia da Semana
                    </button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>
