<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <header>
            <h1><span>AGENDAMENTO</span></h1>
        </header>

        <main class="step-content">
            <div class="summary-section">
                 <div class="summary-item">
                    <p>BARBEIRO ESCOLHIDO:</p>
                    <div class="value">
                        <span class="icon"></span> Gabrielzinho
                    </div>
                </div>
                <div class="summary-item">
                    <p>DIA ESCOLHIDO:</p>
                    <div class="value">
                        <span class="icon"></span> Segunda-feira
                    </div>
                </div>
            </div>
            <div class="options-section">
                <h2>HORÁRIOS DISPONIVEIS:</h2>
                <div class="options-box time-grid">
                    <a href="passo4-corte.html" class="choice-btn">08:00</a>
                    <a href="passo4-corte.html" class="choice-btn">13:00</a>
                    <a href="passo4-corte.html" class="choice-btn">08:30</a>
                    <a href="#" class="choice-btn unavailable">13:30</a>
                    <a href="passo4-corte.html" class="choice-btn">09:00</a>
                    <a href="passo4-corte.html" class="choice-btn">14:00</a>
                    <a href="#" class="choice-btn unavailable">09:30</a>
                    <a href="passo4-corte.html" class="choice-btn">15:00</a>
                    <a href="passo4-corte.html" class="choice-btn">10:00</a>
                    <a href="#" class="choice-btn unavailable">15:30</a>
                    <a href="passo4-corte.html" class="choice-btn">10:30</a>
                    <a href="#" class="choice-btn unavailable">16:00</a>
                    <a href="passo4-corte.html" class="choice-btn">11:00</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>