<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbershop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="background-overlay"></div>
    <main class="container">
        <header>
            <h1>BARBERSHOP</h1>
            <div class="mustache">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 320">
                    <path d="M960 148.6c-132.3 0-210.3 80.4-312.4 80.4-99.2 0-169.3-80.4-335.2-80.4C143.6 148.6 0 286.7 0 286.7V320h960v-99.2c0-36.4-34.1-72.2-34.1-72.2zM0 148.6C132.3 148.6 210.3 68.2 312.4 68.2c99.2 0 169.3 80.4 335.2 80.4C816.4 229 960 90.9 960 90.9V57.7H0v90.9z"/>
                </svg>
            </div>
        </header>

        <section class="options">
            <a th:href="@{/colaborador/gerenciar/1}" class="option-link">
                <div class="option">
                    <i class="fas fa-user"></i>
                    <h2>LOGIN PARA</h2>
                    <p>COLABORADOR</p>
                </div>
            </a>

            <a th:href="@{/agendamento/passo1-barbeiro}" class="option-link">
                <div class="option">
                    <i class="fas fa-user"></i>
                    <h2>AGENDAMENTO</h2>
                    <p>PARA CLIENTE</p>
                </div>
            </a>
        </section>
    </main>
</body>
</html>