<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <header>
            <h1><span>AGENDAMENTO</span></h1>
        </header>

        <main class="step-content">
            <div class="summary-section">
                 <div class="summary-item" th:if="${agendamento.colaborador != null}">
                    <p>BARBEIRO ESCOLHIDO:</p>
                    <div class="value">
                        <span class="icon"></span>
                          <span th:text="${agendamento.colaborador.nome}">Nome do Barbeiro</span>
                    </div>
                </div>
                <div class="summary-item">
                    <p>DIA ESCOLHIDO:</p>
                    <div class="value">
                        <span class="icon"></span> 
                        <span th:text="${#strings.capitalize(agendamento.dia.name().toLowerCase())}">Dia da Semana</span>
                    </div>
                </div>
                <div class="summary-item" th:if="${agendamento.dataHora != null}">
                    <p>DATA E HORÁRIO:</p>
                    <div class="value">
                        <span th:text="${#temporals.format(agendamento.dataHora, 'dd/MM/yyyy HH:mm')}"></span>
                    </div>
                </div>
            </div>
              <div class="options-section">
                <h2>ESCOLHA O SERVIÇO:</h2>
                <div class="choice-list">
                    <form th:action="@{/agendamento/processar-passo4-servico}" method="post">
                        <button type="submit" name="servicoEscolhido" value="CABELO" class="choice-btn">
                            <span>Cabelo</span>
                        </button>
                        <button type="submit" name="servicoEscolhido" value="BARBA" class="choice-btn">
                            <span>Barba</span>
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
