<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento Concluído com Sucesso</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container">
        <header>
             <h1><span>SUCESSO</span></h1>
        </header>

        <main class="step-content">
            <div class="summary-section">
                <h2>Parabéns, seu agendamento foi concluído!</h2>
                <p>Enviaremos uma confirmação para você em breve.</p>
                <br>
                <a href="/" class="choice-btn">Página Inicial</a>
            </div>
        </main>
    </div>

</body>
</html>